<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <!-- Box CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/topnavbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
</head>
<body>

    <div class="top">
        <div class="container-fluid ">
            <div class="topbar">

                <div class="topbar_title">
                    Shop Management
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-0">
                <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bxs-category'></i>
          <div class="logo_name">POS</div>
        </div>
        <i class='bx bx-menu' id="menu-btn"></i>
      </div>
      <ul class="nav_list">
        <li>
          <a href="#">
            <i class='bx bx-search-alt-2' ></i>
            <input type="text" placeholder="Search...">
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <!-- DashBoard -->
        <li>
          <a href="{% url 'dashboard' %}">
            <i class='bx bxs-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <!-- Product -->
        <li>
          <a href="{% url 'product' %}">
            <i class='bx bx-circle' ></i>
            <span class="links_name">Product</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <!-- Customer -->
        <li>
          <a href="{% url 'customer' %}">
            <i class='bx bx-circle' ></i>
            <span class="links_name">Customer</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <!-- Supplier -->
        <li>
          <a href="{% url 'supplier' %}">
            <i class='bx bx-circle' ></i>
            <span class="links_name">Supplier</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <!-- Sales -->
        <li>
          <a href="{% url 'sales' %}">
            <i class='bx bx-circle' ></i>
            <span class="links_name">Sales</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <!-- Purchase -->
        <li>
          <a href="{% url 'purchase' %}">
            <i class='bx bx-circle' ></i>
            <span class="links_name">Purchase</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>

        <li>
          <a href="#">
            <i class='bx bx-circle' ></i>
            <span class="links_name">Others</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>
      </ul>
    </div>
            </div>

            <div class="col-lg-9">
                <div class="container">
                    {% block content %}


                    {% endblock content %}
                </div>
            </div>

        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/product.js' %}"></script>
</body>
</html>