@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  margin-top:100px;
  position:relative;
  display: flex;
  max-width:720px;
  justify-content: space-between;
  background: #dedee2;
  border-radius:12px;
  margin: 12px 0 0 12px;
}


.container .details_box{
  padding : 35px 5px 0 35px;
}

.details_box .details .topic{
    font-size: 20px;
    font-weight: 500;
}

.details_box .details p{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
}

.details_box .details .price_box{
    margin-top: 16px;
}


.details .price_box .discount{
    color: #737373;
    font-size: 15px;
    margin: 10px 0 0 12px;
    position: relative;
}

.price_box .discount::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background: #737373;
    top: 50%;
    left: -8px;
}

.details .price_box .price{
    color: #0000ff;
    font-size: 20px;
    margin: 0 0 0 15px;
}

.details_box .add-to-cart-btn{
    margin-top: 10px;
    margin-right:15px;
}

.details_box .add-to-cart-btn button{
    outline : none;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    font-weight:500;
    border:none;
    padding: 8px 16px;
    background:#0000ff;
    cursor:pointer;
    transition: all 0.3s ease;
}

.details_box .add-to-cart-btn button:hover{
    transform: scale(0.95)
}

.container .image_box{
    position: relative;
    text-align: right;
    right:0;
    bottom:18px;
}

.container .image_box .image{
  height: 190px;
  width: 240px;

}

.container .image_box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image_box .info{
    margin: 0 20px 0 0;
}

.image_box .info .brand{
    font-size: 20px;
    font-weight:700;
    color:#0000ff;
}

.image_box .info .name{
    font-size: 15px;
    font-weight:500;
}
